#head{
    height:100px;
    background-color:orange;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container {
    display: flex;
    height: 400px;
}
.item {
    display:flex;
    justify-content:center;
    align-items:center;
}
.item1 {
    width:10%;
    background-color: lightcoral;
}
.item2 {
    width:80%;
    background-color: gold;
}
.item3 {
    width:10%;
    background-color: lightcoral;
}
#foot {
    height:100px;
    background-color:orange;
    display:flex;
    justify-content:center;
    align-items:center;
}