
.container{
    display: grid;
    width:100%;
    height:100vh;
    grid-template-rows: 80px 1fr 80px;
}
#head{
    background-color: orange;
    display: grid;
align-items: center;
justify-items: center;
}
.box{
    display: grid; 
    grid-template-columns: 1fr 5fr 1fr;
}
.item{
    display: grid;
   align-items: center;
justify-items: center;
}
.item1{
    background-color: lightcoral;
}
.item2{
    background-color: gold;
}
.item3{
    background-color: lightcoral;
}
#foot{
    background-color:orange;
    display:grid;
  align-items: center;
justify-items: center;
}