header {
    height: 80px;
    background-color: orange;
    text-align: center;
     line-height: 40px;
     font-size:20px;

}

.left{
    
    float: left;
    height:600px ;
    width:10%;
      background-color: lightcoral;
      text-align: center;
      line-height: 200px;
      font-size:20px;
}
section {
   
    float: left;

    width: 80%;
    height: 600px;
    background-color: gold;
    text-align: center;
    line-height: 200px;
    font-size:20px;
}
.right{
    float: left;
    height:600px ;
    width:10%;
      background-color: lightcoral;
      text-align: center;
      line-height: 200px;
      font-size:20px;
}
footer {

    height: 80px;
    width: 100%;
       clear: both;
    background-color: orange;
    text-align: center;
    line-height: 40px;
    font-size:20px;
}
